<nav class="navbar navbar-dark bg-inverse">
  <ul class="nav navbar-nav">

    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="<%= products_path %>">Stock</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= product_categories_path %>">Product Categories</a>
      </li>

      <li class="nav-item">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => "nav-link" %>
      </li>
    <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, :class => "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, :class => "nav-link" %>
        </li>
    <% end %>


  </ul>
</nav>